%button-style{
             width: 95px;
            height: 35px;
            background-color: $bg-color-2;
            border-radius: 25px;
           border-style: none;
           font-size: 14px;
}